name: Daily Reminders
    on:
      schedule:
        - cron: '0 13 * * *'
      workflow_dispatch:
    
    jobs:
      send-reminder:
        runs-on: ubuntu-latest
        steps:
          - name: Checkout code
            uses: actions/checkout@v3
    
          - name: Send Email
            uses: dawidd6/action-send-mail@v3
            with:
              server_address: smtp.sendgrid.net
              server_port: 465
              username: apikey
              password: ${{ secrets.SENDGRID_API_KEY }}
              subject: "Daily Life Tracker Reminder"
              body: "Time to log your daily stats! https://mattcedonia.github.io/life-tracker/"
              to: ${{ secrets.SENDGRID_FROM_EMAIL }}
              from: ${{ secrets.SENDGRID_FROM_EMAIL }}
